/*#resultados{
	width:600px;
	height: 500px;
	margin:0 auto;
	display: flex;
	background-color: red;
	flex-direction: column;
	justify-content:center;
	overflow-y: scroll;
}
.columna{
	width: 580px;
	height: 150px;
	border:1px solid black;
	margin:0 auto;
	margin-bottom: 5px;
}*/

#cuadricula{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	width: 500px;
	width: 500px;
	margin: 0 auto;
}
.disponible{
	position: relative;
	border: 1px solid black;
	text-align: center;
	background: seagreen;
}
.reservado{
	position: relative;
	background-color: deeppink;
	text-align: center;
	color: lightpink;
}

.btn_agregar,.btn_editar,.btn_eliminar{
	position: absolute;
	right: 10px;
	bottom: 5px;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.btn_editar{
	right: 30px;
}

.boton{
	width: 150px;
	height: 30px;
	margin-top: 10px;
	background-color: #00acb3;
	color: white;
	cursor: pointer;
}
.boton:hover{
	background-color:white;
	color:#00acb3;
}
body{
	margin: 0;
	padding: 0;

	/*background-image:#99dfff;
	background-image:  
	radial-gradient(at 73% 39%, hsla(68,84%,61%,1) 0, transparent 51%),  
	radial-gradient(at 7% 57%, hsla(50,88%,78%,1) 0, transparent 53%),  
	radial-gradient(at 55% 68%, hsla(194,81%,76%,1) 0, transparent 50%),  
	radial-gradient(at 66% 6%, hsla(154,79%,73%,1) 0, transparent 53%),  
	radial-gradient(at 3% 46%, hsla(293,88%,70%,1) 0, transparent 44%),  
	radial-gradient(at 57% 36%, hsla(305,73%,78%,1) 0, transparent 43%),  
	radial-gradient(at 62% 19%, hsla(265,69%,69%,1) 0, transparent 57%);*/

	/*background-size: cover;*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	/*background-position: center;
	*/
}
.titulo{
	margin: 0 auto;
	width: 250px;
	text-align: center;
	margin-bottom: 30px;
}
#abrir{
  width:150px;
  height:50px;
  display:block;
  margin:100px auto;
}
.show{
  display:block;
}
.hidden{
  display:none;
}
.ligthbox{
	position: fixed;
	top:0px;
	left:0px;
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,.6);
	z-index: 1;
}
.login_content{
	position: relative;
	background-color: #999;
	width: 353px;
	height: 230px;
	margin-right: auto;
	margin-left: auto;
	top:50%;
	margin-top: -115px;
	border-radius: 5%;
}
.close_button{
	position: absolute;
	background-color: #333;
	top: 10px;
	right: 10px;
	color: white;
	width: 40px;
	height: 40px;
	text-align: center;
	border-radius: 20px;
	cursor: pointer;
	font-size: 23px;
	line-height: 34px;
	font-family: verdana;
}
.close_button:hover{
	background-color: white;
	color: #333;
}
#input_name{
	position: absolute;
	top: 70px;
	left: 60px;
	width: 210px;
	height: 28px;
	border-radius: 6px;
}
#input_password{
	position: absolute;
	top: 113px;
	left: 60px;
	width: 210px;
	height: 28px;
	border-radius: 6px;
}
#button_login{
	position: absolute;
	top: 160px;
	left: 60px;
	width: 110px;
	height: 40px;
	border-radius: 5px;
}
#button_cancel{
	position: absolute;
	top: 160px;
	left: 175px;
	width: 101px;
	height: 40px;
	border-radius: 5px;
}

#sel_horarios{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	width: 400px;
	height: 200px;
	margin: 0 auto;
	background-color: #d9d6d6;
	margin-top: 40px;
	padding: 10px;
	border-radius: 20px;
	text-align: center;
}
#btn_consultar{
	margin: 0 auto;
}
#contenedor_inicio{
	width: 300px;
	height: 350px;
	margin: 0 auto;
	margin-top: 70px;
	background-color: #d9d6d6;
	text-align: center;
	padding-top: 40px;
	border-radius: 20px;
}

#formulario_registro{
	display: grid;
	border-radius: 20px;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px; 
	text-align: right;
	margin-top: 25px;
}

#contenedor_registro{
	width: 640px;
	height: 280px;
	margin: 0 auto;
	background-color: #d9d6d6;
	border-radius: 20px;
	padding: 10px;
	margin-top: 40px;
}

#contenedor_boton { 
	grid-area: 4 / 2 / 5 / 3; 
	text-align: right;
} 
#btn_registrar{

}
#menu_navegacion{
	position: relative;
	height: 80px;
}

#logo_titulo_seccion{
	position: absolute;
	top: 5px;
	left: 5px;
}
#btn_volver{
	position: absolute;
	top: 45px;
	right: 5px;
}
/* Celular */
@media only screen and  (min-width: 320px) and (max-width: 540px)
{
	#cuadricula{
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, 1fr); 
		grid-column-gap: 0px;
		grid-row-gap: 0px;
		width: 90%;
	}
}

/* Tablet */
@media only screen and (min-width: 541px) and (max-width: 1024px){
}

/*Escritorio*/
@media only screen and (min-width: 1025px){}